body { margin: 0px; 
  text-align: center;
  
  }

.whitelink { text-decoration: none; color: #FFC0CB; font-family: 'Josefin Sans', sans-serif;
}


nav ul li a:hover {color: #fdecda;}

nav ul li {
	display: inline-block;  
	padding: 8px;
	text-transform: uppercase; 
	/*background-color: #DAFDDA*/;
}
li.active a {color:#fdecda;} 
.active{color: #FFE4C4;}
.whitelink {font-family: 'Josefin Sans', sans-serif; 
font-size: 1em;}

h1 {
	text-align: center; 
	margin: 0px auto;
	font-size: 10em;
	font-family: 'Yeseva One', cursive; 
	padding-top: 5%;

}
#logo {max-width: 30%; 
	margin: 10px 10%;
	text-align:left;

}


footer {background-color:black;
display: block;
 font-size:1.5em;
margin-top: 9%;
text-align: center; 
color: #fdecda;
text-decoration: none; font-family:'Josefin Sans', sans-serif; }

.footer {color: #fdecda;
text-decoration: none;
font-family: 'Josefin Sans', sans-serif !important;}
.footer:hover{color: #FFC0CB;}

#insta {color: #FFE4C4;}
#twitter {color: #FFE4C4;}
#tiktok {color: #FFE4C4;}
#mail {color: #FFE4C4;}



}
 
p {font-family: 'Josefin Sans',sans-serif; text-transform: uppercase; text-align: center; font-size: 1.5em; margin: 10% ; padding-top:10%
}
 
#navbar{ background-color: black; opacity:1}

#spiegazionesong {font-family:'Josefin Sans',sans-serif; 
text-transform: uppercase; 
text-align: center; 
font-size: 1.5em;
margin: 10%; 
padding-top:10% }

#section {text-align: center;}